html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

main {
    grid-column-start: 2;
    grid-row-start: 2;
}

/* arrows */
.arrow {
    grid-row-start: 2;
    height: min-content;
    display: flex;
    cursor: pointer;
}

.arrow:hover {
    transform: scale(1.1);
}

.arrow-right-container {
    justify-content: flex-start;
}

.arrow-left-container {
    justify-content: flex-end;

}

.each-arrow {
    width: 30%;
}

/* image slides */


#big-slider-container {
    display: flex;
}

/* navigation circles */

#navigation-circles {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.each-circle {
    background-color: rgb(161, 160, 160);
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 80px;
}

.each-circle:hover {
    background-color: #424242;
    cursor: pointer;
}