<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="arrow arrow-left-container">
        <img class="each-arrow" src="<%= require('/src/img/arrow-left.svg')%>" alt="">
    </div>
    <main id="slider-component-container"> 
        <div id="framer">
            <div id="big-slider-container">
                <div class="each-image-slide" id="1" style="visibility: visible;"><img src="<%= require('/src/img/img1.webp')%>" 
                    alt="image-lights-wide"></div>    
                <div class="each-image-slide" id="2"><img src="<%= require('/src/img/img2.webp')%>" alt=""></div>
                <div class="each-image-slide" id="3"><img src="<%= require('/src/img/img3.webp')%>" alt=""></div>
                <div class="each-image-slide" id="4"><img src="<%= require('/src/img/img4.webp')%>" alt=""></div>
            </div>    
        </div>
        <div id="navigation-circles">
            <span id="circle-1" class="each-circle" style="background-color: #424242;"></span>
            <span id="circle-2" class="each-circle"></span>
            <span id="circle-3" class="each-circle"></span>
            <span id="circle-4" class="each-circle"></span>
        </div>
    </main>
    <div class="arrow arrow-right-container">
        <img class="each-arrow" src="<%= require('/src/img/arrow-right.svg')%>" alt="">
    </div>
    
</body>
</html>